/* grids */
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"header"
		"interactions"
		"footer";
}



.header {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, min-content);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		". language ."
		". logo ."
		"sitenav sitenav sitenav";
	grid-area: header;
}
/*
.about,
.footer {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}*/

.language {
	grid-area: language;
}

.logo {
	grid-area: logo;
}

.sitenav {
	grid-area: sitenav;
	width: 100%;
}

.page {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: repeat(3, auto);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		". pagenav_top ."
		". page_img ."
		". pagenav_bottom .";
	grid-area: page;
}

.pagenav_top {
	grid-area: pagenav_top;
}

.pagenav_bottom {
	grid-area: pagenav_bottom;
}

.page_img {
	grid-area: page_img;
}

.about {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: ". author .";
	grid-area: about;
}

.author {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "notes links";
	grid-area: author;
}

.notes {
	grid-area: notes;
}

.links {
	grid-area: links;
}

.interactions {
	display: grid;
	grid-template-columns: 40px 1fr 40px;
	grid-template-rows: repeat(2, auto);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		". disqus ."
		". interactions_split .";
	grid-area: interactions;
	place-self: center;
}

.interactions_split {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0px 0px;
	grid-auto-flow: column;
	grid-template-areas: "mailchimp chimera";
	grid-area: interactions_split;
	place-self: center;
}

.disqus {
	grid-area: disqus;
}

.chimera {
	grid-area: chimera;
}

.mailchimp {
	grid-area: mailchimp;
}

.footer {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: min-content;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "socials . copyright";
	grid-area: footer;
}

.socials {
	grid-area: socials;
}

.copyright {
	grid-area: copyright;
}
