pagetop {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"header"
		"site_nav";

	.header {
		display: grid;
		grid-template-rows: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-area: header;
	}

	.logo {
		grid-area: 1/1/1/4;
		display: grid;
		position: relative;
		justify-self: center;

		a:hover {
			opacity: 1;
		}
	}

	.language {
		grid-area: 1/3/1/4;
		display: flex;
		position: relative;
		justify-self: end;
		padding: 8px;
	}

	/* separator */
	a:not(:last-child)::after {
		content: var(--menu-separator-character, "|");
		padding: 0 10px;
	}

	.site_nav {
		grid-area: site_nav;
		
		a {
			font-size: 26px;
		}
	}

	.language {
		-webkit-text-stroke-width: 6px;
    	-webkit-text-stroke-color: var(--background-color);
    	paint-order: stroke;

		a {
			cursor: pointer;
		}
	}

	.logo img {
		width: 100%;
		max-width: 500px;
		padding: 12px;
	}

	.site_nav {
		background-color: var(--sitenav-background-color);
		font-family: "Gabriela", serif;
		width: 100%;
		display: flex;
        justify-content: center;
	}
}
